Добрый день!\n

Выпущен новый релиз "${ProjectDisplayName}".
Версия ${Version} от ${ReleaseDate}\n

Список изменений:
${ReleaseNoteItems}\n

Ссылка для скачивания с сайта: ${ReleaseExtURL}
Ссылка для скачивания с внутреннего ресурса: ${InternalReleaseURL}